html {
   scroll-behavior: smooth;
}

:root {
   --light: #ffffff;
   --text: #012c44;
   --dark: #323232;
   --primary: #095dc7;
   --secondary: #85af4b;
   --secondary2: #001b3d;
   --secondary3: #02295a;
}

body {
   font-size: 13px;
   font-family: 'poppins', sans-serif;
}

img {
   width: 50%;
}

.primary {
   background-color: var(--primary) !important;
}

.secondary {
   background-color: var(--secondary) !important;
}

.light {
   color: var(--light) !important;
}

.dark {
   color: var(--dark) !important;
}

.nav-link {
   color: var(--text) !important;
}

.container {
   width: 100%;
   max-width: 1170px;
   padding: 0 !important;
}

.navbar-toggler:focus {
   box-shadow: none !important;
}

.row,
.row>* {
   padding: 0 !important;
   margin: 0 !important;
}

@media(min-width:768px) {
   .row {
      padding: 0 5px !important;
   }
}