.main_area {
   .about_area {
      height: auto;

      .container {
         height: auto;

         .about_left {
            width: 100%;
            height: 480px;

            .about_info {

               h4 {
                  span {
                     font-size: 12px;
                  }
               }
            }

            .img {
               overflow: hidden;
               width: 80px;
               height: 80px;
               border-radius: 50%;
               border: 1px solid var(--primary);

               img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
               }
            }
         }

         .about_right {
            width: 100%;
            height: auto;

            p {
               span {

                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  background-color: var(--primary);
                  cursor: pointer;
               }
            }
         }


      }
   }


   .about_banenr {
      height: 400px;
   }

   .about {
      .bg {
         &::after {
            opacity: 60%;

         }
      }
   }

   .about {
      height: auto;

      .about_right {
         height: 200px !important;
      }

      .about_video {
         a {
            cursor: pointer;
            z-index: 1;

            img {
               width: 60px;
            }
         }

      }
   }
}