.main_area {
   .banner_area {
      background-color: var(--primary);

      .row {
         height: 500px;
      }

      .banner_left {
         h1 {
            font-size: 35px;
         }

         p {
            font-size: 12px;
         }

         .buttons {
            width: 335px;
            gap: 20px;

            &:first-child {
               border-color: var(--secondary) !important;

            }

            &:last-child {
               border-color: var(--light) !important;

            }

            a {
               width: 155px;
               border-radius: 25px;
               height: 50px;
            }
         }
      }

      .banner_right {
         .img {
            img {
               width: 760px;
               height: 765px;
               top: 80px;
               right: -245px;
            }
         }
      }
   }
}