.main_area {
   .feature_area {
      height: 870px;
      background-color: #f8fafc;

      .img {
         width: 580px;
         height: 490px;
         display: block;

         img {
            width: 775px;
            height: -webkit-fill-available;
            top: -85px;
            left: -262px;
         }
      }

      .feture_content {
         width: 570px;

         h4 {
            width: 400px;
            font-size: 36px;
         }

         a {
            background-color: #e6e6e6;
            color: var(--primary);
            width: 150px;
         }
      }

      .count_contents {
         grid-template-columns: repeat(4, 1fr);

         .single_count {
            span {
               font-size: 48px;
            }
         }
      }
   }
}