.main_area {
   .feature_area {
      height: auto;
      background-color: #f8fafc;

      .img {

         img {
            width: 100%;
         }
      }

      p {
         padding: 10px 0;
      }


      .feture_content {

         h4 {}

         a {
            background-color: #e6e6e6;
            color: var(--primary);
            width: 150px;
         }
      }

      .count_contents {
         grid-template-columns: repeat(1, 1fr);
         height: 270px;

         .single_count {
            span {
               font-weight: 500;
               font-size: 22px;
            }
         }
      }
   }
}