.main_area {
   .header_area {
      .header_top {

         .row {
            height: 45px;

            .social_icons {
               width: 100px;
            }

            .header_contact {
               width: 100%;
               padding: 0 5px;
            }
         }
      }

      @mixin fixd {
         position: fixed;
         z-index: 999;
         background: var(--light);
         padding: 2px;
         transition: 0.3s
      }

      .fixedTogger,
      .fixed {
         @include fixd;
         width: auto;
         height: auto;
         top: 5px;
         right: 3px;
      }

      .fixedHeaderBottom {
         @include fixd;
         width: 100%;
         top: 0;
         border-bottom: 1px solid var(--primary);
      }

      .header_bottom {
         .img {
            img {
               width: 50px;
               height: 35px;
            }
         }

         .fixed {
            width: 100% !important;
            padding: 0;

            #navbarNavDropdown {
               position: absolute;
               left: 0;
               width: 72px;
               top: 20px;
               height: auto;
               background: var(--light);
            }
         }

         .menu {
            width: 100%;


         }
      }

   }
}