.main_area {
   .history_area {
      height: auto;

      .container {
         height: auto;
         padding: 50px 0 !important;


         .history_top {
            h1 {
               position: relative;
               width: 100%;
            }

            p {
               width: 100%;
               padding-top: 10px;
            }
         }

         .history_bottom {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;

            .single_history {
               height: 200px;

               img {
                  width: 60px;
                  height: 60px;
               }

            }

         }
      }
   }
}