.main_area {

   .partner_area {
      height: auto;
      background-color: #f8f8f8;

      .partner_img {

         img {
            width: 80px;
            height: 80px;


         }
      }
   }
}