// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   .main_area {
      .history_area {
         .history_bottom {
            justify-items: center;

            .single_history {
               width: 50%;
            }
         }
      }

      .feature_area {
         .count_contents {
            grid-template-columns: repeat(2, 1fr);
            height: 270px;
         }
      }

      .about_area {
         height: 620px;

         .row {
            gap: 10px;

            .about_left {
               height: 360px;
               width: 49%;

               .about_info {

                  h4 {
                     font-size: 16px !important;
                  }

                  .signature {
                     width: 170px;
                     height: 75px;
                  }
               }
            }

            .about_right {
               height: 360px;
               width: 49%;
            }
         }
      }

      .project_area {

         .projects {
            grid-template-columns: repeat(2, 1fr);

         }
      }

      .testimonial_area {
         #testimonialExampleAutoplaying {
            width: 600px;

         }
      }

      .partner_area {
         height: 210px;
      }

      .team_area {

         .team_contents {
            grid-template-columns: repeat(2, 1fr);

         }
      }

      .footer_area {
         .footer_top {
            .footer_top_contents {
               .contact_us {
                  flex: 30% 0 0;
               }

               .links {
                  flex: 20% 0 0;

               }

               .newslatters {
                  flex: 44% 0 0;
               }

               .subscribe {
                  flex: 45% 0 0;
               }
            }

         }

      }

      .blog_area {
         .blog_left {
            .single_blog {}
         }

         .blog_right {
            .blog_projects {
               .projects {
                  grid-template-columns: repeat(3, 1fr);

               }
            }
         }
      }

      .contact_info {
         .contact_contents {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;

            .single_info {}
         }
      }

   }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

   .main_area {
      .header_area {
         .header_top {
            .row {
               .header_contact {
                  // width: 75%;
               }
            }
         }

         .header_bottom {
            .menu {
               width: 60%;
            }
         }
      }

      .banner_area {


         .banner_right {
            .img {
               height: -webkit-fill-available;

               img {
                  width: 55%;
               }
            }
         }
      }

      .history_area {
         .container {
            .history_bottom {
               grid-template-columns: repeat(2, 1fr);
               justify-items: start;

               .single_history {
                  width: auto;
               }
            }

         }
      }

      .feature_area {
         .count_contents {
            grid-template-columns: repeat(4, 1fr);
         }
      }

      .about {
         .about_right {
            height: 345px !important;
         }
      }

      .testimonial_area {
         .w-70 {
            width: 545px !important;
         }

      }

      .footer_area {
         height: 480px !important;

         .footer_top {
            .footer_top_contents {
               .contact_us {
                  flex: 26% 0 0;
               }

               .links {
                  flex: 15% 0 0;

               }

               .newslatters {
                  flex: 38% 0 0;
               }

               .subscribe {
                  flex: 30% 0 0;
               }
            }


         }

         .footer_bottom {
            height: 80px !important;
         }
      }

      .message_box_area {
         form {
            grid-template-columns: repeat(2, 1fr);

         }
      }

   }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
   .main_area {
      .banner_area {
         .row {
            height: 840px;
         }
      }

      .banner_area {
         h1 {
            font-size: 70px !important;
         }



         .banner_right {
            .img {
               height: 760px;

               img {
                  width: 100%;
               }
            }

         }

         .banner2 {
            width: 800px;
         }
      }

      .history_area {
         .container {
            .history_top {
               h1 {
                  width: 450px;

                  &::after {
                     position: absolute;
                     content: "";
                     width: 3px;
                     height: 100px;
                     top: 0;
                     background-color: var(--primary);
                     right: 0;
                  }

               }

               p {
                  width: 670px;
               }
            }

         }
      }

      .feature_area {
         .container {
            height: 875px !important;
         }

         .h500 {
            height: 500px;
         }

         .features_img {
            width: 570px;
            height: 570px;

            .img {
               left: -300px;
               width: 840px;
               height: -webkit-fill-available;

               img {
                  height: -webkit-fill-available;
               }

            }
         }


         .feture_content {
            width: 570px;
         }

         .count_contents {


            .single_count {
               span {
                  font-size: 48px;
               }
            }
         }
      }

      .about_area {
         .row {
            gap: 30px;

            .about_left {
               width: 560px;

               .about_info_content {
                  width: 235px;

                  h4 {
                     span {
                        padding-top: 10px;
                     }
                  }
               }
            }

            .about_right {
               width: 570px;


            }
         }
      }

      .about {
         height: 620px !important;


      }

      .project_area {
         .projects {
            grid-template-columns: repeat(3, 1fr);

         }
      }

      .team_area {
         height: 840px;


         .team_contents {
            grid-template-columns: repeat(4, 1fr);

         }

      }

      .footer_area {
         padding-top: 0;

         .footer_top {
            height: 400px !important;

            .footer_top_contents {
               .contact_us {
                  flex: 20% 0 0;

               }

               .links {
                  flex: 12% 0 0;

               }

               .newslatters {
                  flex: 28% 0 0;


               }

               .subscribe {
                  flex: 26% 0 0;
               }

               height: 220px;
            }
         }
      }

      .blog_area {
         .blog_left {
            width: 770px !important;

            .single_blog {
               .single_blog_contact {
                  height: 50px;
                  flex-wrap: nowrap;

                  .right {
                     justify-content: end !important;
                     padding-right: 10px;
                  }
               }
            }
         }

         .blog_right {
            width: 320px !important;

            .blog_projects {

               .projects {
                  .single_project {
                     height: auto !important;
                  }
               }
            }
         }
      }

      .contact_info {
         height: 445px !important;

         .contact_contents {
            grid-template-columns: repeat(3, 1fr);

         }
      }

      .message_box_area {
         height: 710px !important;

         form {
            width: 770px !important;

         }
      }
   }

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
   .main_area {
      .header_area {
         .header_top {
            .row {
               .header_contact {
                  width: 80%;
               }
            }
         }

         .header_bottom {
            .menu {
               width: 50%;
            }
         }

      }

      .about_feature {
         height: 400px;
      }

      .history_area {
         .container {
            height: 625px;
            padding: 0;

            .history_bottom {
               grid-template-columns: repeat(3, 1fr);
               gap: 85px;

            }
         }
      }


   }
}