// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

   .main_area {
      .header_area {
         .header_top {
            .row {
               .header_contact {
                  // width: 75%;
               }
            }
         }

         .header_bottom {
            .menu {
               width: 60%;
            }
         }
      }

      .history_area {
         .container {
            .history_bottom {
               grid-template-columns: repeat(2, 1fr);

            }

         }
      }

      .feature_area {
         .count_contents {
            grid-template-columns: repeat(4, 1fr);
         }
      }
   }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}