.main_area {
   .team_area {
      height: auto;

      .team_contents {
         grid-template-columns: repeat(1, 1fr);
         gap: 20px;
      }

      .single_team {
         height: 540px;

         h4 {
            text-transform: capitalize;
            font-size: 18px;

            span {
               font-size: 12px;
               padding-top: 10px;
               color: #999999;
            }
         }

         p {
            font-size: 13px;
            color: #666666;
         }

         .img {
            width: 100%;

            img {
               width: 100%;
               height: 330px;
            }
         }

         .details {
            height: 180px;

            .social_area {
               width: 120px;

               a {
                  color: #999999;

                  &:hover {
                     color: black;
                  }
               }
            }
         }
      }
   }
}